tables==3.4.4
h5py==2.8.0
Pillow==5.2.0
PyYAML==3.13
pony==0.7.6
PyMySQL==0.9.2
requests==2.19.1
imgaug==0.2.6
scikit-learn==0.19.2
tensorflow-gpu==1.10.0
luminoth==0.2.0
comet_ml==1.0.27
crossbar==18.9.2
autobahn==18.9.2