* {
  font-family: "Exo 2";
  /* outline: 1px dashed #9e2320; */
}

/* ::selection {
  background-color: #9e2320;
} */

:focus {
  outline: transparent auto 2px !important; 
}

html {
  background-color: #26313a;
}

body {
  height: 100vh;
}